includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - search-modal-block.php
    excludePaths:
        - vendor
        - node_modules
        - build
        - tests
